.container-fluid{
    background-color: #007EC9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.tablero{
    /* margin-top: 30px; */
}

.tablero .col{
    position: relative;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 15px;
    margin-left: 15px;
    background-color: white;
}

.tasksList{
    /* height: 800px; */
    margin-top: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.addTask{
    position: absolute;
    bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
}

.simbolo{
    background-image: url(../img/mas_menos.png);
    background-size: cover;
    width: 25px;
    display: inline-block;
    height: 25px;
    float: left;
}

.texto{
    padding-left: 5px;
}

.taskContainer{
    border: 1px solid;
    border-radius: 20px;
    margin: 10px;
}

div[id^='task']{
    /* padding: 15px; */
    margin: 5px;
}

div[id^='task'] .card-body{
    margin-top: 20px;
}



div[id^='task'] i{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 25px;
}

.category .badge{
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.card{
    cursor: pointer;
}

.selected{
    opacity: 1 !important;
}

.category .badge{
    opacity: 0.5;
}


.pomodoro .col{
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

.pomodoro .timer{
    padding-top: 10px;
    width: 260px;
    margin: auto;
    cursor: pointer;
}

.pomodoro .timer span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 50px;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }